<!DOCTYPE html>
<html>
  <head>
    <title>Smart Plan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="scripts/login.js"></script>      


    
    
  </head>

<body>
  

<div class = "container">
<h2>Log in</h2>
</div>
<div class="container">
  
  
    <div class="form-group">
        <div>
        <label for="user" id="error" style="color: red;display: none;">Wrong password or username</label>
       </div>
        
       <label for="na,e">User Name</label>
       <div>
       <input type="text" class="form-control" id="name" placeholder="Enter user name" name="user">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
      </div>
      <button id="loggin" class="btn btn-default">Continue</button>
    </div>
    
</div>


</body>
</html>