<HTML>

    <HEAD>
    
    
    <title>Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>  
    <script src="../../scripts/basket.js"></script>     
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <link href="../../css/mediumish.css" rel="stylesheet">
      <script src="../../scripts/backoffice-reports-range.js"></script>    
      <link rel='stylesheet' href="../../css/main.css"></style>  
    </HEAD>
    <BODY>
      <%- include('../../partials/backoffice-navbar',{user:user,current:'current',permitions:permitions});%>
      <p>-</p>

            <div>
                <label>Report for orders</label>          
                  <label for='startDate'>Start Date:</label>
                  <input  type='datetime-local' id='startDate'>
                  <label for='startDate'>End Date:</label>  
                  <input  type='datetime-local' id='endDate'>
                <label for='period'>Period:</label>
                <select id='period'>
                  <option selected value="none">None</option> 
                  <option  value="MM-DD">Day</option>
                  <option  value="IW">Week</option>
                  <option  value="MM">Month</option>
                  <option  value=" ">Year</option>
                </select>
            </div>
            <div>
              <label for='user'>Users:</label>
              <select id='user'>
                <option  value="false">Hide</option>
                <option  value="true">Show</option>
              </select>
              <label for='status'>Status:</label>
              <select id='status'>
                <option  value="false">Hide</option>
                <option  value="true">Show</option>
              </select>
            </div>
            <button id='f-button'>Fillter</button>
       </div>
        <table id="tb">
        </table>
    
    </BODY>
    </HTML>